/* ESTILOS FOOTER */

footer {
    a {
        text-decoration: none;
    }
    h2 {
        font-size: $h3fontsize;
    }
    p {
        font-size: $pfontsize;
    }
    li {
        i {
            font-size: 23px;
        }
    }
}