/* ESTILOS LOCATION */

.location__main {
    h1 {
        font-size: $h1fontsize;
    }
    h2 {
        font-size: $h2fontsize;
    }
    p {
        font-size: $pfontsize;
    }
    .location__title {
        padding-top: 70px;
    }
}